<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.cse110.apk404.myCalendar"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:icon="@mipmap/ic_launcher"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".DetailActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:label="@string/app_detail_activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".AddEventActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:label="@string/app_add_event_activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!--<activity-->
        <!--android:name=".sampleReference.BasicActivity"-->
        <!--android:label="@string/title_activity_basic">-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name=".sampleReference.AsynchronousActivity"-->
        <!--android:label="@string/title_activity_asynchronous">-->
        <!--</activity>-->
    </application>

</manifest>
